%html
  %head
    %link{rel: "stylesheet", href: "/stylesheets/slots.css", type: "text/css"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js", type: "text/javascript"}
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js", type: "text/javascript"}
    %script{src: "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js", type: "text/javascript"}
    %script{src: "/js/index.js", type: "text/javascript"}
    %script{src: "/js/models/slotBox.js", type: "text/javascript"}
    %script{src: "/js/slots.js", type: "text/javascript"}

    %meta{name: "viewport", content: "initial-scale=1"}
    %script#slots-template{type: "text/x-handlebars-template"}
      :plain
        {{#each .}}
          {{> _reel}}
        {{/each}}
    %script#reel-template{type: "text/x-handlebars-template"}
      :plain
        <div class="slot-column">
          <div class="slot-boxes">
            {{#each .}}
              {{> _box}}
            {{/each}}
          </div>
        </div>
    %script#box-template{type: "text/x-handlebars-template"}
      :plain
        <div class="slot-box">
          <div class="sprite {{category}}{{val}}"></div>
        </div>
    %script#winner-message-template{type: "text/x-handlebars-template"}
      :plain
        <p>Nice! You won a cup of {{beverage}}!</p>
  %body
    = yield
