@import 'layout';
@import 'sprites';

$reelOffset: -360px;

#slot-machine {
  position: relative;
  display: inline-block;
  min-width: 475px;
  font-family: Arial;
}

#center-pointer {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 2px;
  background: $darkestPrimary;
}

#slot-columns {
  font-size: 0;
  border: 2px solid $darkestPrimary;
  background: $lightestPrimary;
  overflow: hidden;
}

.slot-column {
  position: relative;
  z-index: 20;
  display: inline-block;
  height: 300px;
  width: 120px;
  margin: 0 15px;
  background: $lightPrimary;
  border-left: 2px solid $darkestPrimary;
  border-right: 2px solid $darkestPrimary;
}

.slot-boxes {
  &.spinning {
    -webkit-animation: REEL-SPIN .5s linear infinite;
    -moz-animation:    REEL-SPIN .5s linear infinite;
    -o-animation:      REEL-SPIN .5s linear infinite;
    animation:         REEL-SPIN .5s linear infinite;
  }

  &.paused {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}

.slot-box {
  border-top: 1px solid $darkestPrimary;
  border-bottom: 1px solid $darkestPrimary;
  background: #eee;
}

@-webkit-keyframes REEL-SPIN {
  0% { -webkit-transform: translate(0, 0); }
  100% { -webkit-transform: translate(0, $reelOffset); }
}

@-moz-keyframes REEL-SPIN {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, $reelOffset); }
}

@-o-keyframes REEL-SPIN {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, $reelOffset); }
}

@keyframes REEL-SPIN {
  0% { transform: translate(0, 0); }
  100% { transform: translate(0, $reelOffset); }
}
