.sprite { background: url('/assets/sprite.png') no-repeat top left; width: 120px; height: 120px;  } 
.sprite.machine0 { background-position: 0px 0px;  } 
.sprite.machine1 { background-position: 0px -130px;  } 
.sprite.machine2 { background-position: 0px -260px;  } 
.sprite.mat0 { background-position: 0px -390px;  } 
.sprite.mat1 { background-position: 0px -520px;  } 
.sprite.mat2 { background-position: 0px -650px;  } 
.sprite.tool0 { background-position: 0px -780px;  } 
.sprite.tool1 { background-position: 0px -910px;  } 
.sprite.tool2 { background-position: 0px -1040px;  } 
